<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<!-- CSS stylesheets -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/static.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/courses.css') }}">
		<!-- JavaScripts -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/primary.js') }}"></script>
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
		<!-- Icons -->
		<script src="https://kit.fontawesome.com/deef0bf4ed.js" crossorigin="anonymous"></script>
		<title>Klasse</title>
	</head>

	<body style="font-family: 'Lato', sans-serif">
		<div id="navbar">
			<a class="klasse-title" href="/">K L A S S E</a>
			<a class="navlink" href="/">Dashboard</a>
			<a class="navlink active" href="/courses">Courses</a>
			<a class="navlink" href="/help">Help</a>
			<img class="profile" src="/default_profile.png" alt="profile" onmouseover="dropdownHover(this, true)" onmouseout="dropdownHover(this, false)" onclick="window.open('/profile', '_self')">
		</div>

		<div class="dropdown-menu" onmouseover="dropdownHover(this, true)" onmouseout="dropdownHover(this, false)">
			<a href="/profile">Profile Settings</a>
			<a href="/logout">Logout</a>
		</div>

		<div style="padding-left: 50px; padding-top: 30px;">

			<h1 class="title">My Courses<h1>
			<div class="course" onclick="window.open('/cs', '_self')">
				<img style="border-radius:20px;" src="csimg.jpg"/>
				<span class="caption">Computer Science 1</span>
			</div>
			<div class="course" onclick="window.open('/bio', '_self')">
				<img style="border-radius:20px;" src="bioimg.jpg"/>
				<span class="caption">Biology 1</span>
			</div>
			<div class="course" onclick="window.open('/lit', '_self')">
				<img style="border-radius:20px;" src="litimg.jpg"/>
				<span class="caption">Literature 1</span>
			</div>
			<div class="course" onclick="window.open('/math', '_self')">
				<img style="border-radius:20px;" src="mimg.jpg"/>
				<span class="caption">Mathematics 1</span>
			</div>

			<br><br><br><br><br><br>

			<h1 class="title">Other Courses<h1>
			<div class="course">
				<img style="border-radius:20px;" src="csimg.jpg"/>
				<span class="caption">Computer Science 2</span>
			</div>
			<div class="course">
				<img style="border-radius:20px;" src="bioimg.jpg"/>
				<span class="caption">Biology 2</span>
			</div>
			<div class="course">
				<img style="border-radius:20px;" src="litimg.jpg"/>
				<span class="caption">Literature 2</span>
			</div>
			<div class="course">
				<img style="border-radius:20px;" src="mimg.jpg"/>
				<span class="caption">Mathematics 2</span>
			</div>
			<br><br><br><br><br><br>
		</div>
	</body>
</html>