<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<!-- CSS stylesheets -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/static.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/help.css') }}">
		<!-- JavaScripts -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/primary.js') }}"></script>
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
		<!-- Icons -->
		<script src="https://kit.fontawesome.com/deef0bf4ed.js" crossorigin="anonymous"></script>
		<title>Klasse</title>
	</head>

	<body style="font-family: 'Lato', sans-serif">
		<div id="navbar">
			<a class="klasse-title" href="/">K L A S S E</a>
			<a class="navlink" href="/">Dashboard</a>
			<a class="navlink" href="/courses">Courses</a>
			<a class="navlink active" href="/help">Help</a>
			<img class="profile" src="/default_profile.png" alt="profile" onmouseover="dropdownHover(this, true)" onmouseout="dropdownHover(this, false)" onclick="window.open('/profile', '_self')">
		</div>

		<div class="dropdown-menu" onmouseover="dropdownHover(this, true)" onmouseout="dropdownHover(this, false)">
			<a href="/profile">Profile Settings</a>
			<a href="/logout">Logout</a>
		</div>

		<div style="padding-left: 50px; padding-top: 30px;">
            <h1 class="title">Help</h1>
        </div>
        <br>
        <div>
            <div class="faq" onclick="expandFAQ(this)">
                <h1 style="font-weight: 700;">Question 1</h1>
                <div class="faq-arrow" style="margin-right: 30px; margin-top: -40px;">
                    <span></span>
                </div>
                <br>
                <p class="faq-answer">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                    software like Aldus PageMaker including versions of Lorem Ipsum.
                    <br><br>
                </p>
            </div>
            <br>
            <div class="faq" onclick="expandFAQ(this)">
                <h1 style="font-weight: 700;">Question 2</h1>
                <div class="faq-arrow" style="margin-right: 30px; margin-top: -40px;">
                    <span></span>
                </div>
                <br>                 
                <p class="faq-answer">
                    Answer 2
                    <br><br>
                </p>
            </div>
            <br>
            <div class="faq" onclick="expandFAQ(this)">
                <h1 style="font-weight: 700;">Question 3</h1>
                <div class="faq-arrow" style="margin-right: 30px; margin-top: -40px;">
                    <span></span>
                </div>
                <br>
                <p class="faq-answer">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                    software like Aldus PageMaker including versions of Lorem Ipsum.
                    <br><br>
                </p>
            </div>
            <br>
            <div class="faq" onclick="expandFAQ(this)">
                <h1 style="font-weight: 700;">Question 4</h1>
                <div class="faq-arrow" style="margin-right: 30px; margin-top: -40px;">
                    <span></span>
                </div>
                <br>
                <p class="faq-answer">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                    software like Aldus PageMaker including versions of Lorem Ipsum.
                    <br><br>
                </p>
            </div>
            <br>
            <div class="faq" onclick="expandFAQ(this)">
                <h1 style="font-weight: 700;">Question 5</h1>
                <div class="faq-arrow" style="margin-right: 30px; margin-top: -40px;">
                    <span></span>
                </div>
                <br>
                <p class="faq-answer">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                    software like Aldus PageMaker including versions of Lorem Ipsum.
                    <br><br>
                </p>
            </div>
            <br>
            <div class="faq" onclick="expandFAQ(this)">
                <h1 style="font-weight: 700;">Question 6</h1>
                <div class="faq-arrow" style="margin-right: 30px; margin-top: -40px;">
                    <span></span>
                </div>
                <br>
                <p class="faq-answer">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of
                    Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                    software like Aldus PageMaker including versions of Lorem Ipsum.
                    <br><br>
                </p>
            </div>
        </div>
	</body>
</html>