<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<!-- CSS stylesheets -->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/static.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
		<!-- JavaScripts -->
		<script type="text/javascript" src="{{ url_for('static', filename='js/primary.js') }}"></script>
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
		<!-- Icons -->
		<script src="https://kit.fontawesome.com/deef0bf4ed.js" crossorigin="anonymous"></script>
		<title>Klasse</title>
	</head>

	<body style="font-family: 'Lato', sans-serif" onload="updateProgressBar()">
		<div id="navbar">
			<a class="klasse-title" href="/">K L A S S E</a>
			<a class="navlink active" href="/">Dashboard</a>
			<a class="navlink" href="/courses">Courses</a>
			<a class="navlink" href="/help">Help</a>
			<img class="profile" src="/default_profile.png" alt="profile" onmouseover="dropdownHover(this, true)" onmouseout="dropdownHover(this, false)" onclick="window.open('/profile', '_self')">
		</div>

		<div class="dropdown-menu" onmouseover="dropdownHover(this, true)" onmouseout="dropdownHover(this, false)">
			<a href="/profile">Profile Settings</a>
			<a href="/logout">Logout</a>
		</div>

		<div style="padding-left: 30px; padding-top: 30px;">
			<h1 class="title">My Dashboard</h1>
			<br><br>
			<div style="padding-left: 20px;">
				<h1 class="subtitle" style="padding-left: 30px;">Level: <span style="font-weight: 400;">{{ currentUser["level"] }}</span></h1>
				<div id="progress-bar">
					<div id="progress">
						<h1 id="progress-text">Current Progress: {{ currentUser["xp"] }}/100XP</h1>
					</div>
					<img id="trophy" src="/trophy.png" alt="trophy">
				</div>
			</div>
			<br><br>
			<div style="padding-left: 20px;">
				<h1 class="subtitle" style="padding-left: 30px;">Achievements:</h1>
				<br>
				<div id="achievements">
					{% if "Completed Biology 1 Course" in currentUser["achievements"] %}
						<div class="achievement unlocked" title="Completed Biology 1 Course">
							<i class="fa fa-leaf" aria-hidden="true"></i>
						</div>
					{% else %}
						<div class="achievement locked" title="Completed Biology 1 Course">
							<i class="fa fa-leaf" aria-hidden="true"></i>
						</div>
					{% endif %}

					{% if "Completed CS 1 Course" in currentUser["achievements"] %}
						<div class="achievement unlocked" title="Completed CS 1 Course">
							<i class="fa fa-laptop-code" aria-hidden="true"></i>
						</div>
					{% else %}
						<div class="achievement locked" title="Completed CS 1 Course">
							<i class="fa fa-laptop-code" aria-hidden="true"></i>
						</div>
					{% endif %}

					{% if "Completed Literature 1 Course" in currentUser["achievements"] %}
						<div class="achievement unlocked" title="Completed Literature 1 Course">
							<i class="fa fa-book-open" aria-hidden="true"></i>
						</div>
					{% else %}
						<div class="achievement locked" title="Completed Literature 1 Course">
							<i class="fa fa-book-open" aria-hidden="true"></i>
						</div>
					{% endif %}

					{% if "Completed Math 1 Course" in currentUser["achievements"] %}
						<div class="achievement unlocked" title="Completed Math 1 Course">
							<i class="fa fa-superscript" aria-hidden="true"></i>
						</div>
					{% else %}
						<div class="achievement locked" title="Completed Math 1 Course">
							<i class="fa fa-superscript" aria-hidden="true"></i>
						</div>
					{% endif %}

					{% if "Completed All Courses" in currentUser["achievements"] %}
						<div class="achievement unlocked" title="Completed All Courses">
							<i class="fa fa-star" aria-hidden="true"></i>
						</div>
					{% else %}
						<div class="achievement locked" title="Completed All Courses">
							<i class="fa fa-star" aria-hidden="true"></i>
						</div>
					{% endif %}

					{% if "Got All Questions Right" in currentUser["achievements"] %}
						<div class="achievement unlocked" title="Got All Questions Right">
							<i class="fa fa-bullseye" aria-hidden="true"></i>
						</div>
					{% else %}
						<div class="achievement locked" title="Got All Questions Right">
							<i class="fa fa-bullseye" aria-hidden="true"></i>
						</div>
					{% endif %}

					{% if "Referred to a Friend" in currentUser["achievements"] %}
						<div class="achievement unlocked" title="Referred to a Friend">
							<i class="fa fa-atlas" aria-hidden="true"></i>
						</div>
					{% else %}
						<div class="achievement locked" title="Referred to a Friend">
							<i class="fa fa-atlas" aria-hidden="true"></i>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</body>
</html>